@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.project {
  margin-bottom: 150px;
  max-width: 900px;
  width: 100%;
  opacity: 0;
  right: 100px;
  position: relative;
  &__content {
    background-color: $main-yellow;
    padding: 10px;
    .imagePreview {
      img {
        width: 100%;
      }
      .information {
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        margin-top: 20px;
        @include resp(500px) {
          grid-template-columns: 1fr;
        }
        .left {
          width: 90%;
          .title {
            margin: 0 0 10px 0;
            h2 {
              font-size: 34px;
            }
          }
          .text {
            p {
              font-family: "roboto";
            }
            .tech {
              margin-top: 10px;
            }
          }
        }
        .right {
          @include resp(500px) {
            display: flex;
            margin-top: 40px;
          }
          .button {
            margin-bottom: 10px;
            padding: 5px 10px;
            text-align: center;
            cursor: pointer;

            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 95% 0);

            a {
              text-decoration: none;
              color: white;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
