@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
.projects {
  margin-top: -25px;
  &__content {
    .topEdge {
      margin-bottom: -6px;
      img {
        width: 100%;
      }
    }
    .body {
      padding: 150px 50px;
      margin-top: -6px;
      background-color: $main-yellow;
      &__content {
        .sectionTitle {
          .title {
            font-weight: 900;
            font-size: 36px;
            @include resp(800px) {
              font-size: 24px;
            }
          }
        }
        .display {
          margin-top: 100px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 80px;
          &-menu {
            text-align: right;
            &__item {
              font-size: 32px;
              font-weight: 700;
              margin-top: 15px;
              color: #333;
              cursor: pointer;
              &:hover {
                color: $light-blue;
              }
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    .bottomEdge {
      transform: rotate(180deg);
      margin-top: -6px;
      img {
        width: 100%;
      }
    }
  }
}
