@import "../../styles/colors.scss";
.projects {
  width: 100%;
  // height: 100vh;
  display: grid;
  place-items: center;
  // position: relative;

  &__content {
    margin-top: 50px;
    max-width: 1200px;
    overflow-x: hidden;
  }
  .edge {
    background-image: url(https://raw.githubusercontent.com/DjordjevicN/imagesRep/master/box-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 30px;
  }
}
